$tech-primary : #376375;
$tech-1 : #BAD7E2;
$tech-2: #9EB7C1;
$tech-3: #1F2D33;

$human-primary: #F2C14E; 

$human-1 : #D6A940;
$human-2 : #BF9F54;
$human-3: #E2BA5D;
$human-4 : #F9D47C;
$human-5 : #C6B281;
$human-6 : #C49935;
$human-7 : #FFD26B;

// #A4243B ? ROUGE
// #F2C14E ? JAUNE 

$orga-primary : #A4243B;

$orga-1 : #AF5666;
$orga-2 : #8C0019;
$orga-3: #F4869A;
$orga-4 : #D11D3E;
$orga-5 : #C6B281;
$orga-6 : #C49935; 
$orga-7 : #FFD26B;


@mixin fillStroke($color) {
  fill:$color;
  stroke : $color;
}

.tech-primary { @include fillStroke($tech-primary); }
.tech-1{ @include fillStroke($tech-1); }
.tech-2{ @include fillStroke($tech-2); }
.tech-3{ @include fillStroke($tech-3); }

.human-primary{ @include fillStroke($human-primary); } 
.human-1{ @include fillStroke($human-1); }
.human-2{ @include fillStroke($human-2); }
.human-3{ @include fillStroke($human-3); }
.human-4{ @include fillStroke($human-4); }
.human-5{ @include fillStroke($human-5); }
.human-6{ @include fillStroke($human-6); }
.human-7{ @include fillStroke($human-7); }



.orga-primary{ @include fillStroke($orga-primary); } 
.orga-1{ @include fillStroke($orga-1); }
.orga-2{ @include fillStroke($orga-2); }
.orga-3{ @include fillStroke($orga-3); }
.orga-4{ @include fillStroke($orga-4); }
.orga-5{ @include fillStroke($orga-5); }
.orga-6{ @include fillStroke($orga-6); }
.orga-7{ @include fillStroke($orga-7); }
