$tech-primary : #376375;
$tech-1 : #BAD7E2;
$tech-2: #9EB7C1;
$tech-3: #1F2D33;

$human-primary: #FB9F89; 

$human-1 : #D3B1A9;
$human-2 : #BF9F54;
$human-3: #E2BA5D;
$human-4 : #F9D47C;
$human-5 : #C6B281;
$human-6 : #C49935;
$human-7 : #FFD26B;

// #A4243B ? ROUGE
// #F2C14E ? JAUNE 

$orga-primary : #00876D;
$orga-1 : #459E8C;

$commercial-primary: #f6bd60;

.aspect-human {
  color: $human-primary;
}
.aspect-tech {
  color: $tech-primary;
}
.aspect-gestion {
  color: $orga-primary;
}
.aspect-commerce{
  color: $commercial-primary;
}

@mixin fillStroke($color) {
  fill:$color;
  stroke : $color;
}

.tech-primary { @include fillStroke($tech-primary); }
.tech-1{ @include fillStroke($tech-1); }
.tech-2{ @include fillStroke($tech-2); }
.tech-3{ @include fillStroke($tech-3); }

.human-primary{ @include fillStroke($human-primary); } 
.human-1{ @include fillStroke($human-1); }
.human-2{ @include fillStroke($human-2); }
.human-3{ @include fillStroke($human-3); }
.human-4{ @include fillStroke($human-4); }
.human-5{ @include fillStroke($human-5); }
.human-6{ @include fillStroke($human-6); }
.human-7{ @include fillStroke($human-7); }


.orga-primary{ @include fillStroke($orga-primary); } 
.orga-1{ @include fillStroke($orga-1); }

.commercial-primary{ @include fillStroke($commercial-primary); } 
