.delay-250ms {
  animation-delay: 250ms;
}
.delay-500ms {
  animation-delay: 500ms;
}
.delay-750ms {
  animation-delay: 750ms;
}
.delay-1250ms {
  animation-delay: 1250ms;
}
.delay-1500ms {
  animation-delay: 1500ms;
}