.none {
  display: none;
}
.show {
  display: inline-block;
}
.inline {
  display: flex;
}
.keynumber {
  width: 21%;
  margin-left: 2%;
  margin-right: 2%;
  flex-direction: column;
  margin-top: 7%;
  display: flex;
  .key {
    color: white;
    font-size: 60px;
    font-weight: 600;
  }
  .title {
    font-weight: 200;
    font-size: 20px;
    color: lightgray;
  }
}
.logo {
  margin-right: 20px;
}
.objectif {
  display: inline-flex;
  align-items: center;
  color: greenyellow;
  font-size: 30px;
  margin-top: 10%;
  line-height: 30px;
  font-weight: 400;
}

.subtitle-light{
  color: lightgray;
}

.subtitle-light,
.subtitle-primary {
  display: inline-flex;
  align-items: center;
  font-size: 30px;
  margin-top: 25px;
  line-height: 30px;
  font-weight: 200;
}

.inline-flex-white{
color: white;
}
.subtitle-primary,
.inline-flex-primary {
  color:#376375;
}

.inline-flex-white,
.inline-flex-primary {
  display: inline-flex;
  align-items: center;
  font-family: "Paytone One", sans-serif;
  font-size: 100px;
  line-height: 40px;
  font-weight: 600;
}

.center {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
  text-align: center;
  font-weight: 300;
}

.small-logo {
  margin-right: 80%;
  font-size: 58px;
  img {
    width: 70px;
  }
  transition: all 0.5s;
}
